In [1]:
import pandas as pd
from pathlib import Path
import datetime as dt

In [2]:
jan_2022 = pd.read_csv(Path('../Resources/2022/jan_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
feb_2022 = pd.read_csv(Path('../Resources/2022/feb_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
mar_2022 = pd.read_csv(Path('../Resources/2022/mar_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
apr_2022 = pd.read_csv(Path('../Resources/2022/apr_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
may_2022 = pd.read_csv(Path('../Resources/2022/may_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
june_2022 = pd.read_csv(Path('../Resources/2022/june_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
july_2022 = pd.read_csv(Path('../Resources/2022/july_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
aug_2022 = pd.read_csv(Path('../Resources/2022/aug_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
sept_2022 = pd.read_csv(Path('../Resources/2022/sept_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
oct_2022 = pd.read_csv(Path('../Resources/2022/oct_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
nov_2022 = pd.read_csv(Path('../Resources/2022/nov_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
dec_2022 = pd.read_csv(Path('../Resources/2022/dec_2022.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)

In [3]:
df_2022 = pd.concat([jan_2022, feb_2022, mar_2022, apr_2022, may_2022, june_2022, july_2022, aug_2022, sept_2022, oct_2022, nov_2022, dec_2022], ignore_index=True)

In [4]:
df_2022.drop(columns=['ride_id', 'rideable_type'], inplace=True)

In [5]:
df_2022.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member

In [6]:
df_2022.memory_usage(deep=True).sum()

16225228393

In [7]:
start_date_2022 = pd.to_datetime(df_2022['started_at'], format = '%Y-%m-%d %H:%M:%S')
stop_date_2022 = pd.to_datetime(df_2022['ended_at'], format = '%Y-%m-%d %H:%M:%S')
df_2022['started_at'] = start_date_2022
df_2022['ended_at'] = stop_date_2022
month_start = df_2022['started_at'].dt.strftime('%b')
month_stop = df_2022['ended_at'].dt.strftime('%b')
df_2022['start_month'] = month_start
df_2022['stop_month'] = month_stop
df_2022['time_usage'] = df_2022['ended_at'] - df_2022['started_at']
df_2022.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,stop_month,time_usage
0,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,Jan,Jan,0 days 00:04:26
1,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,Jan,Jan,0 days 00:02:22
2,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,Jan,Jan,0 days 00:24:46
3,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,Jan,Jan,0 days 00:04:15
4,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,Jan,Jan,0 days 00:08:00

In [ ]:
df_2022.to_csv('../Resources/2022/2022_citi_bike_data.csv', index=False)