In [8]:
import pandas as pd
from pathlib import Path

In [13]:
#Read in 2019 data
jan_2019 = pd.read_csv(Path('../Resources/2019/jan_2019.csv'), parse_dates=True, infer_datetime_format=True)
feb_2019 = pd.read_csv(Path('../Resources/2019/feb_2019.csv'), parse_dates=True, infer_datetime_format=True)
mar_2019 = pd.read_csv(Path('../Resources/2019/mar_2019.csv'), parse_dates=True, infer_datetime_format=True)
apr_2019 = pd.read_csv(Path('../Resources/2019/apr_2019.csv'), parse_dates=True, infer_datetime_format=True)
may_2019 = pd.read_csv(Path('../Resources/2019/may_2019.csv'), parse_dates=True, infer_datetime_format=True)
june_2019 = pd.read_csv(Path('../Resources/2019/june_2019.csv'), parse_dates=True, infer_datetime_format=True)
july_2019 = pd.read_csv(Path('../Resources/2019/july_2019.csv'), parse_dates=True, infer_datetime_format=True)
aug_2019 = pd.read_csv(Path('../Resources/2019/aug_2019.csv'), parse_dates=True, infer_datetime_format=True)
sept_2019 = pd.read_csv(Path('../Resources/2019/sept_2019.csv'), parse_dates=True, infer_datetime_format=True)
oct_2019 = pd.read_csv(Path('../Resources/2019/oct_2019.csv'), parse_dates=True, infer_datetime_format=True)
nov_2019 = pd.read_csv(Path('../Resources/2019/nov_2019.csv'), parse_dates=True, infer_datetime_format=True)
dec_2019 = pd.read_csv(Path('../Resources/2019/dec_2019.csv'), parse_dates=True, infer_datetime_format=True)

In [11]:
jan_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [12]:
jan_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967287 entries, 0 to 967286
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             967287 non-null  int64
 1   starttime                967287 non-null  object
 2   stoptime                 967287 non-null  object
 3   start station id         967269 non-null  float64
 4   start station name       967269 non-null  object
 5   start station latitude   967287 non-null  float64
 6   start station longitude  967287 non-null  float64
 7   end station id           967269 non-null  float64
 8   end station name         967269 non-null  object
 9   end station latitude     967287 non-null  float64
 10  end station longitude    967287 non-null  float64
 11  bikeid                   967287 non-null  int64
 12  usertype                 967287 non-null  object
 13  birth year               967287 non-null  int64
 14  gender                   967287 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 110.7+ MB

In [14]:
#Concatenate 2019 data
df_2019 = pd.concat([jan_2019, feb_2019, mar_2019, apr_2019, may_2019, june_2019, july_2019, aug_2019, sept_2019, oct_2019, nov_2019, dec_2019], ignore_index=True)

In [15]:
#View head
df_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [16]:
#View tail
df_2019.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
20551692,93,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,3141.0,1 Ave & E 68 St,40.765005,-73.958185,3142.0,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2
20551693,786,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,490.0,8 Ave & W 33 St,40.751551,-73.993934,513.0,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1
20551694,351,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,3349.0,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368.0,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2
20551695,1571,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1
20551696,310,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,3351.0,E 102 St & 1 Ave,40.786995,-73.941648,3379.0,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0

In [17]:
#len of 2019 data
len(df_2019)

20551697

In [20]:
#Memory usage of 2019 data
df_2019.memory_usage(deep=True).sum()

9492851699

In [21]:
#Read in 2020 data
jan_2020 = pd.read_csv(Path('../Resources/2020/jan_2020.csv'), parse_dates=True, infer_datetime_format=True)
feb_2020 = pd.read_csv(Path('../Resources/2020/feb_2020.csv'), parse_dates=True, infer_datetime_format=True)
mar_2020 = pd.read_csv(Path('../Resources/2020/mar_2020.csv'), parse_dates=True, infer_datetime_format=True)
apr_2020 = pd.read_csv(Path('../Resources/2020/apr_2020.csv'), parse_dates=True, infer_datetime_format=True)
may_2020 = pd.read_csv(Path('../Resources/2020/may_2020.csv'), parse_dates=True, infer_datetime_format=True)
june_2020 = pd.read_csv(Path('../Resources/2020/june_2020.csv'), parse_dates=True, infer_datetime_format=True)
july_2020 = pd.read_csv(Path('../Resources/2020/july_2020.csv'), parse_dates=True, infer_datetime_format=True)
aug_2020 = pd.read_csv(Path('../Resources/2020/aug_2020.csv'), parse_dates=True, infer_datetime_format=True)
sept_2020 = pd.read_csv(Path('../Resources/2020/sept_2020.csv'), parse_dates=True, infer_datetime_format=True)
oct_2020 = pd.read_csv(Path('../Resources/2020/oct_2020.csv'), parse_dates=True, infer_datetime_format=True)
nov_2020 = pd.read_csv(Path('../Resources/2020/nov_2020.csv'), parse_dates=True, infer_datetime_format=True)
dec_2020 = pd.read_csv(Path('../Resources/2020/dec_2020.csv'), parse_dates=True, infer_datetime_format=True)

In [22]:
#Concatenate 2020 data
df_2020 = pd.concat([jan_2020, feb_2020, mar_2020, apr_2020, may_2020, june_2020, july_2020, aug_2020, sept_2020, oct_2020, nov_2020, dec_2020], ignore_index=True)

In [23]:
#File size of 2020 data
df_2020.memory_usage(deep=True).sum()

9019468289

In [24]:
jan_2021 = pd.read_csv(Path('../Resources/2021/jan_2021.csv'), parse_dates=True, infer_datetime_format=True)
feb_2021 = pd.read_csv(Path('../Resources/2021/feb_2021.csv'), parse_dates=True, infer_datetime_format=True)
mar_2021 = pd.read_csv(Path('../Resources/2021/mar_2021.csv'), parse_dates=True, infer_datetime_format=True)
apr_2021 = pd.read_csv(Path('../Resources/2021/apr_2021.csv'), parse_dates=True, infer_datetime_format=True)
may_2021 = pd.read_csv(Path('../Resources/2021/may_2021.csv'), parse_dates=True, infer_datetime_format=True)
june_2021 = pd.read_csv(Path('../Resources/2021/june_2021.csv'), parse_dates=True, infer_datetime_format=True)
july_2021 = pd.read_csv(Path('../Resources/2021/july_2021.csv'), parse_dates=True, infer_datetime_format=True)
aug_2021 = pd.read_csv(Path('../Resources/2021/aug_2021.csv'), parse_dates=True, infer_datetime_format=True)
sept_2021 = pd.read_csv(Path('../Resources/2021/sept_2021.csv'), parse_dates=True, infer_datetime_format=True)
oct_2021 = pd.read_csv(Path('../Resources/2021/oct_2021.csv'), parse_dates=True, infer_datetime_format=True)
nov_2021 = pd.read_csv(Path('../Resources/2021/nov_2021.csv'), parse_dates=True, infer_datetime_format=True)
dec_2021 = pd.read_csv(Path('../Resources/2021/dec_2021.csv'), parse_dates=True, infer_datetime_format=True)

C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb_2021 = pd.read_csv(Path('../Resources/2021/feb_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  mar_2021 = pd.read_csv(Path('../Resources/2021/mar_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  apr_2021 = pd.read_csv(Path('../Resources/2021/apr_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may_2021 = pd.read_csv(Path('../Resources/2021/may_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_2021 = pd.read_csv(Path('../Resources/2021/june_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:7: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  july_2021 = pd.read_csv(Path('../Resources/2021/july_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  aug_2021 = pd.read_csv(Path('../Resources/2021/aug_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:9: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  sept_2021 = pd.read_csv(Path('../Resources/2021/sept_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  oct_2021 = pd.read_csv(Path('../Resources/2021/oct_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:11: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  nov_2021 = pd.read_csv(Path('../Resources/2021/nov_2021.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\1650885154.py:12: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dec_2021 = pd.read_csv(Path('../Resources/2021/dec_2021.csv'), parse_dates=True, infer_datetime_format=True)

In [25]:
feb_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [26]:
df_2021 = pd.concat([jan_2021, feb_2021, mar_2021, apr_2021, may_2021, june_2021, july_2021, aug_2021, sept_2021, oct_2021, nov_2021, dec_2021], ignore_index=True)

In [27]:
df_2021.memory_usage(deep=True).sum()

23927022166

In [29]:
jan_2022 = pd.read_csv(Path('../Resources/2022/jan_2022.csv'), parse_dates=True, infer_datetime_format=True)
feb_2022 = pd.read_csv(Path('../Resources/2022/feb_2022.csv'), parse_dates=True, infer_datetime_format=True)
mar_2022 = pd.read_csv(Path('../Resources/2022/mar_2022.csv'), parse_dates=True, infer_datetime_format=True)
apr_2022 = pd.read_csv(Path('../Resources/2022/apr_2022.csv'), parse_dates=True, infer_datetime_format=True)
may_2022 = pd.read_csv(Path('../Resources/2022/may_2022.csv'), parse_dates=True, infer_datetime_format=True)
june_2022 = pd.read_csv(Path('../Resources/2022/june_2022.csv'), parse_dates=True, infer_datetime_format=True)
july_2022 = pd.read_csv(Path('../Resources/2022/july_2022.csv'), parse_dates=True, infer_datetime_format=True)
aug_2022 = pd.read_csv(Path('../Resources/2022/aug_2022.csv'), parse_dates=True, infer_datetime_format=True)
sept_2022 = pd.read_csv(Path('../Resources/2022/sept_2022.csv'), parse_dates=True, infer_datetime_format=True)
oct_2022 = pd.read_csv(Path('../Resources/2022/oct_2022.csv'), parse_dates=True, infer_datetime_format=True)
nov_2022 = pd.read_csv(Path('../Resources/2022/nov_2022.csv'), parse_dates=True, infer_datetime_format=True)
dec_2022 = pd.read_csv(Path('../Resources/2022/dec_2022.csv'), parse_dates=True, infer_datetime_format=True)

C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_2022 = pd.read_csv(Path('../Resources/2022/jan_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb_2022 = pd.read_csv(Path('../Resources/2022/feb_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  mar_2022 = pd.read_csv(Path('../Resources/2022/mar_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  apr_2022 = pd.read_csv(Path('../Resources/2022/apr_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may_2022 = pd.read_csv(Path('../Resources/2022/may_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_2022 = pd.read_csv(Path('../Resources/2022/june_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  july_2022 = pd.read_csv(Path('../Resources/2022/july_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:8: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  aug_2022 = pd.read_csv(Path('../Resources/2022/aug_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:9: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  sept_2022 = pd.read_csv(Path('../Resources/2022/sept_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  oct_2022 = pd.read_csv(Path('../Resources/2022/oct_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:11: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  nov_2022 = pd.read_csv(Path('../Resources/2022/nov_2022.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2242411968.py:12: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dec_2022 = pd.read_csv(Path('../Resources/2022/dec_2022.csv'), parse_dates=True, infer_datetime_format=True)

In [30]:
df_2022 = pd.concat([jan_2022, feb_2022, mar_2022, apr_2022, may_2022, june_2022, july_2022, aug_2022, sept_2022, oct_2022, nov_2022, dec_2022], ignore_index=True)

In [31]:
df_2022.memory_usage(deep=True).sum()

19701005246

In [33]:
jan_2023 = pd.read_csv(Path('../Resources/2023/jan_2023.csv'), parse_dates=True, infer_datetime_format=True)
feb_2023 = pd.read_csv(Path('../Resources/2023/feb_2023.csv'), parse_dates=True, infer_datetime_format=True)
mar_2023 = pd.read_csv(Path('../Resources/2023/mar_2023.csv'), parse_dates=True, infer_datetime_format=True)
apr_2023 = pd.read_csv(Path('../Resources/2023/apr_2023.csv'), parse_dates=True, infer_datetime_format=True)
may_2023 = pd.read_csv(Path('../Resources/2023/may_2023.csv'), parse_dates=True, infer_datetime_format=True)

C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2482064256.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_2023 = pd.read_csv(Path('../Resources/2023/jan_2023.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2482064256.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb_2023 = pd.read_csv(Path('../Resources/2023/feb_2023.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2482064256.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  mar_2023 = pd.read_csv(Path('../Resources/2023/mar_2023.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2482064256.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  apr_2023 = pd.read_csv(Path('../Resources/2023/apr_2023.csv'), parse_dates=True, infer_datetime_format=True)
C:\Users\micha\AppData\Local\Temp\ipykernel_14428\2482064256.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may_2023 = pd.read_csv(Path('../Resources/2023/may_2023.csv'), parse_dates=True, infer_datetime_format=True)

In [34]:
df_2023 = pd.concat([jan_2023, feb_2023, mar_2023, apr_2023, may_2023], ignore_index=True)

In [35]:
df_2023.memory_usage(deep=True).sum()

7783167816